<%- include("../../partials/header")  %>
<!--<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">TO-DO LIST AUSC</a>
</nav>
<style>
    .navbar a{
        width: 100%;
        text-align: center;
        font-size: xx-large;
    }
    
</style>
<style>
*{
        font-family: cursive;
    }
</style>
-->
<%-include("../../partials/navbar")%>


<div class="container m-5 p-3">
    <form action="/todo/add/todo" method="POST" class="d-flex">
        <div class="row">
            <div class="col-9">
                <input type="text" name="todo" class="form-control m-2" placeholder="Enter Your To-Do">
            </div>
            <div class="col-3">
                <input type="time" name="todotime" class="form-control m-2" placeholder="Add the Time slot if required">
            </div>
        </div>

        <div class="row">

        
            <div class="col">
                <input type="date" name="tododate" class="form-control m-2">
            </div>
            <div class="col-2">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck">
                  <label class="form-check-label" for="gridCheck">
                    Check me out
                  </label>
                </div>
            </div>
            <div class="col-1">
                
                <input type="submit" value="Add Todo" class="btn btn-md btn-primary m-2">
            </div>
            
        </div>
        

       
        

        
        
        
        
    </form>

    
    <ul class="list-group my-5">
        <div class="container">
        <% todo.forEach(todos => { %>
            
                <div class="row">
                    <div class="col-11"><li class="list-group-item"><%= todos.todo %></li></div>
                    <div class="col-1"><a href="/todo/delete/todo/<%= todos._id %>"class="btn btn-danger">Delete</a></div>
                </div>
                
            
              
        <% }) %>
            </div>

    </ul>
    <style>
        body{background-color: powderblue; font-family: cursive;}
        .list-group-item a{
            position: relative;
            margin-left: 1000px;
        }
    </style>
    
</div>



<script type="module" src="./js/bootstrap.min.js"></script

<%- include("../../partials/footer")  %>